.container{
  margin-top: 3vh;
  display: flex;
}

.details-card p{
 text-align: left;
}

.add-container{
  display: flex;
  justify-content: space-between;
}

.input-item{
  margin-left: 2vh;
  height: 4vh;
  width: 4vh;
}

.selector{
  display: flex;
  flex-direction: column;
}

.child_selector{
  height: 2.5vh;
}

.button-add{
  height: 5vh;
}

.img-container{
  padding-right: 20px;
  height: 320px;
  width: 250px;
}
